# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Medi-Den-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
